.registration {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.registration__form {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	background: black;
	width: 450px;
	/* height: auto; */
	/* min-height: 450px; */
	border-radius: 10px;
	/* margin: auto; */
	padding: 48px;
}

.registration__form > p {
	font-size: 24px;
	color: #aaaaaa;
	margin-top: 10px;
}

.registration__logo {
	width: 75px;
	height: 24px;
}

.registration__field > label {
	display: flex;
	/* flex-direction: column; */
	justify-content: flex-start;
	font-size: 16px;
	/* margin-left: 20px; */
	/* background: #252525; */
}

.registration__field > input {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	/* margin-left: 20px; */
	/* background: #252525; */
	background: black;
	border: none;
	color: #ffffff;
	border: 1px solid #474747;
	border-radius: 3px;
	font-size: 14px;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
}

.registration__field > input:focus {
	outline-style: none;
}

.registration__passwords {
	display: grid;
	grid-template-columns: 50% 50%;
	/* align-items: center; */
}

.registration__passwords > .first {
	margin-right: 16px;
}

.registration__hints {
	font-size: 12px;
	color: #aaaaaa;
	margin-top: 5px;
}

.registration__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.registration__signin {
	text-decoration: none;
}

.registration__signin > p {
	border: none;
	background: transparent;
	color: #1a73e8;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
}

.registration__submit {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 10px auto; */
	border: none;
	/* border: 1px solid #ffffff; */
	border-radius: 10px;
	padding: 5px;
	min-width: 88px;
	min-height: 36px;
	background: #1a73e8;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
}

.registration__error {
	color: #cc0000;
}
